services:
  scrapper:
    build: .
    container_name: py-scrapper-app
    restart: no

    volumes:
      - ./logs:/app/logs
      - ./data:/app/data

    # IMPORTANT: let Coolify inject env vars
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}

      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      EMAIL_FROM: ${EMAIL_FROM}
      EMAIL_TO: ${EMAIL_TO}

    shm_size: "2gb"
    security_opt:
      - seccomp:unconfined